.container {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: rgb(38, 38, 38);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    border-radius: 20px;
}
.divImgsContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: space-around;
    margin-left: 32px;
    margin-top: 5px;
}
.divImgsContainer img{
    width: 160px;
    height: 160px;
}

.spacer{
    width: 15%;
}
.divTxtContainer {
    font-family: "Roboto Mono", serif;
    font-weight: 400;
    font-size: small;
    color: white;
    margin: 5px 0;
    line-height: 1.4;
}

.spanTxt{
    color: rgb(21, 148, 21);
}

@media (max-width: 430px) {
    .spacer{
        width: 2%;
    }
}