.container {
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: rgb(38, 38, 38);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    border-radius: 20px;
}

.divImgsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: space-around;
    margin-left: 32px;
    margin-top: 5px;
}

.divImgsContainer img {
    width: 160px;
    height: 160px;
    margin-bottom: 12px;
}

.spacer {
    width: 20%;
}

.divTxtContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Roboto Mono", serif;
    font-weight: 400;
    font-size: small;
    color: white;
    margin: 5px 0;
}

.divTxtContainer p{
    line-height: 2.5rem;
    margin-top: 0;
    margin-right: 12px;
}

.spanTxt {
    color: rgb(21, 148, 21);
}

@media (max-width: 1460px) {
    .spacer {
        display: none;
    }

    .container {
        flex-direction: column-reverse;
    }

    .divImgsContainer {
        flex-direction: row;
    }

    .divImgsContainer img {
        margin-top: 10px;
    }

    .divTxtContainer {
        margin-left: 20px;
        display: flex;
        flex-wrap: wrap;
        /* Allows wrapping on smaller screens */
        gap: 10px;
    }

    .divTxtContainer p {
        flex: 1; /* Makes each paragraph take equal width */
        min-width: 200px; /* Prevents paragraphs from getting too small */
      }


}