:host,
:root {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(38, 38, 38);
    color: white;
    font-weight: 600;
}

.toolbar span {
    margin: 0 16px;
    font-family: "Roboto Mono", serif;
    color: rgb(21, 148, 21);
}

.toolbar .spacer {
    width: calc(50vw + 100px);
}

.toolbar .divBtnsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    justify-content: space-between;
}

.divBtnsContainer button {
    border: none;
    background-color: transparent;
    font-family: "Roboto Mono", serif;
    font-weight: bold;
    color: white;
    font-size: medium;
}

.divBtnsContainer button:hover {
    cursor: pointer;
    color: rgb(21, 148, 21);
}

.off-screen-menu {
    background-color: #1a1a1ad1;
    height: 100vh;
    width: 100%;
    max-width: 175px;
    position: fixed;
    top: 0;
    right: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.off-screen-menu ul {
    margin: 0;
    font-size: large;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Roboto Mono", serif;
    margin-top: 100px;
    height: 130px;
    max-height: 130px;
    justify-content: space-between;
}

.off-screen-menu ul li:hover {
    color: rgb(21, 148, 21);
}

.off-screen-menu.active {
    right: 0;
    z-index: 999;
    height: 100%;
}

.ham-menu {
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
    z-index: 999;
    display: none;
}

.ham-menu span {
    height: 5px;
    width: 85%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    margin: 0;
}

.ham-menu span:nth-child(1) {
    top: 25%;
    background-color: rgb(21, 148, 21);
}

.ham-menu span:nth-child(2) {
    background-color: #7a7a7a;
}

.ham-menu span:nth-child(3) {
    top: 75%;
    background-color: rgb(21, 148, 21);
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #1a1a1a;
}

.section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    position: relative;
    padding: 50px 0px;
    background: #1a1a1a;
    border: 0px solid transparent;
    max-width: 1200px;
}

.section::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    box-shadow: 0 10px 20px rgba(34, 34, 34, 0.6);
}

.component {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(89vw + 90px);
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 5px 5px 15px rgb(72, 72, 72);
    background-color: rgb(38, 38, 38);
    color: white;
    font-weight: 600;
    max-height: 123px;
    width: auto;
}

.divTxtContainer {
    display: flex;
    justify-content: center;
    width: fit-content;
    font-family: "Roboto Mono", serif;
}

.divTxtContainer .spanTxt {
    color: rgb(21, 148, 21);
    margin: 0;
}

.divBtnsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
}

.social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;
    padding-bottom: 9px;
}

.social a {
    color: #5f5f5f;
    font-size: 1rem;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 0.3rem;
    text-align: center;
    width: 27px;
    height: 25px;
    display: grid;
    place-items: center;
    width: 35px;
    height: 35px;
}

.social a:hover {
    color: #fff;
    background-color: #33383C;
    box-shadow: 0 0 20px #33383C;
    border-color: #33383C;
    transition: all .3s ease-in-out;
}

.social i {
    font-size: larger;
}

.back-to-top {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.655);
    border-radius: 100%;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: larger;
    padding: 0px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.back-to-top:hover {
    background-color: #33383C;
    transition: all .3s ease-in-out;
    box-shadow: 0 5px 10px rgb(21, 143, 27);
    color: white;
}

.show {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 1100px) {
    .spacer {
        display: none;
    }

    .toolbar {
        justify-content: space-between;
    }

    .toolbar .divBtnsContainer {
        width: 60%;
    }
    
}

@media (max-width: 970px) {
    .component {
        max-width: 760px;
    }
}

@media (max-width: 760px) {
    .component {
        max-width: 430px;
    }
}

@media (max-width: 960px) {
   

    .section {
        padding: 20px 0px;
    }


}

@media (max-width: 500px) {
    .toolbar .divBtnsContainer {
        display: none;
    }

    .ham-menu {
        display: flex;
        margin-right: 10px;
    }
}