<div class="toolbar" role="banner">
  <span>Welcome!</span>
  <div class="spacer"></div>
  <div class="divBtnsContainer">
    <div class="divBtn">
      <button (click)="scrollTo('home')">Home</button>
    </div>
    <div class="divBtn">
      <button (click)="scrollTo('about')">About</button>
    </div>
    <div class="divBtn">
      <button (click)="scrollTo('skills')">Skills</button>
    </div>
    <div class="divBtn">
      <button (click)="scrollTo('portfolio')">Portfolio</button>
    </div>
  </div>
</div>

<div class="content" role="main">
  <div id="home" class="section">
    <app-home class="component"></app-home>
  </div>
  <div id="about" class="section">
    <app-about class="component"></app-about>
  </div>
  <div id="skills" class="section">
    <app-skills class="component"></app-skills>
  </div>
  <div id="portfolio" class="section">
    <app-portfolio class="component"></app-portfolio>
  </div>
</div>

<div class="divBackToTopBtnContainer">
  <button class="back-to-top" (click)="scrollToTop()" [ngClass]="{show: showButton}">
    <i class="bi bi-arrow-up"></i>
  </button>
</div>

<footer>
  <div class="divTxtContainer">
    <h4>Interested? Let's talk<span class="spanTxt">...</span></h4>
  </div>
  <div class="divBtnsContainer">
    <div class="social">
      <a href="https://github.com/FacuKopech" target="_blank" title="GitHub">
        <i class="bi bi-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/facundo-kopech-8a50a61ba/" target="_blank" title="LinkedIn">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="mailto:facukopech@gmail.com" title="Email">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-2 -2 28 28" stroke-width="1.5"
          stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
        </svg>
      </a>
    </div>
  </div>
</footer>

<router-outlet></router-outlet>