<div class="container">
  <div class="divHeaderContainer">
    <h2><span class="spanTxt">My</span> Skills</h2>
  </div>
  <div class="divCarouselContainer">
    <div class="divH3Container">
      <h3>FrontEnd</h3>
    </div>
    <div class="divTechContainer">
      <div class="divFrontChild">
        <div class="content">
          <h2>Angular</h2>
        </div>
      </div>
      <div class="divFrontChild">
        <div class="content">
          <h2>React</h2>
        </div>
      </div>
      <div class="divFrontChild">
        <div class="content">
          <h2>JavaScript</h2>
        </div>
      </div>
      <div class="divFrontChild">
        <div class="content">
          <h2>TypeScript</h2>
        </div>
      </div>
      <div class="divFrontChild">
        <div class="content">
          <h2>HTML</h2>
        </div>
      </div>
      <div class="divFrontChild">
        <div class="content">
          <h2>CSS</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="divCarouselContainer">
    <div class="divH3Container">
      <h3>BackEnd</h3>
    </div>
    <div class="divTechContainer">
      <div class="divBackChild">
        <div class="content">
          <h2>C#</h2>
        </div>
      </div>
      <div class="divBackChild">
        <div class="content">
          <h2>.NET Core</h2>
        </div>
      </div>
      <div class="divBackChild">
        <div class="content">
          <h2>Entity Framework</h2>
        </div>
      </div>
      <div class="divBackChild">
        <div class="content">
          <h2>Swagger</h2>
        </div>
      </div>
      <div class="divBackChild">
        <div class="content">
          <h2>Postman</h2>
        </div>
      </div>
      <div class="divBackChild">
        <div class="content">
          <h2>SQL</h2>
        </div>
      </div>
      <div class="divBackChild">
        <div class="content">
          <h2>RESTful API</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="divCarouselContainer">
    <div class="divH3Container">
      <h3>Others</h3>
    </div>
    <div class="divTechContainer">
      <div class="divOthersChild">
        <div class="content">
          <h2>GitHub</h2>
        </div>
      </div>
      <div class="divOthersChild">
        <div class="content">
          <h2>Git</h2>
        </div>
      </div>
      <div class="divOthersChild">
        <div class="content">
          <h2>SCRUM</h2>
        </div>
      </div>
      <div class="divOthersChild">
        <div class="content">
          <h2>JIRA</h2>
        </div>
      </div>
      <div class="divOthersChild">
        <div class="content">
          <h2>AWS</h2>
        </div>
      </div>
      <div class="divOthersChild">
        <div class="content">
          <h2>Azure</h2>
        </div>
      </div>
    </div>
  </div>
</div>