<div class="container">
  <div class="divLeftContainer">
    <div class="divTxtContainer">
      <h2>Hi There!</h2>
      <p>I'm a Full-Stack Developer with extensive experience for over 5 years
      of working with different technologies. My expertise is to create, build, and scale full Web Apps. 
      <br>
      Welcome to my Portfolio!</p>
    </div>
    <div class="divCVBtnContainer">
      <a href='https://github.com/FacuKopech/angular-portfolio/raw/main/src/assets/Facundo%20Kopech%20-%202025%20Resume.pdf' target="_blank" title='Resume' download="Facundo Kopech -  2025.pdf">
        <button>
          <span>Download Resume</span>
        </button>
      </a>
    </div>
  </div>
  <div class="divRightContainer">
    <img src="../../../../assets/profilePhoto.png" alt="Profile Photo">
  </div>
</div>