<div class="container">
  <div class="divLeftContainer">
    <div class="divTxtContainer">
      <h2>Hi There!</h2>
      <p>I'm a Full-Stack Developer with extensive experience for over 5 years</p>
      <p>of working with different technologies. My expertise is to create,</p>
      <p>build, and scale full Web Apps. Welcome to my Portfolio!</p>
    </div>
    <div class="divCVBtnContainer">
      <a href='https://github.com/FacuKopech/react-portfolio/raw/main/public/Facundo%20Kopech%20Resume.pdf' target="_blank" title='Resume' download="Facundo Kopech -  2024.pdf">
        <button>
          <span>Download Resume</span>
        </button>
      </a>
    </div>
  </div>
  <div class="divRightContainer">
    <img src="../../../../assets/profilePhoto.png" alt="Profile Photo">
  </div>
</div>